<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:include="fragments/layout :: htmlhead" th:with="title='Protected area'"></head>


<body role="document">

<div th:replace="fragments/layout :: navbar">(navbar)</div>

<div class="container">
    <div class="starter-template">
        <h2>You are in protected area. You are logged in as (<span th:text="${principal}">(principal)</span>)</h2>
        <h3><a th:href="${@mainController.casLogoutUrl}">Log out</a></h3>
    </div>

    <div th:if="${not #maps.isEmpty(principal.attributes)}">
        <h2>Principal Attributes</h2>
        <table class="table table-striped">
            <tr th:each="attr : ${principal.attributes}">
                <td th:text="${attr.key}">Attribute Key</td>
                <td th:text="${attr.value}">Attribute Value</td>
            </tr>
        </table>

    </div>

</div>

</body>

</html>